body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}


.grid-container {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 1000px;
}


.box {
    position: absolute;
    display: block;
}


.header {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: hsl(103, 79%, 66%);
    height: 60px;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 50px;
    left: 10px;
    right: 10px;
    background-color: hsl(103, 79%, 66%);
    height: 40px;
    box-sizing: border-box;
}

.sidebar {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 42%;
    min-height: 420px;
    background-color: #69b5bb;
    box-sizing: border-box;
}

.main-red {
    position: absolute;
    top: 510px;
    left: 10px;
    bottom: 100px;
    right: 10px;
    margin-top: 10px;
    background-color: #701212;
    min-height: 200px;
    box-sizing: border-box;
}


.content-area {
    position: absolute;
    top: 90px;
    left: 43.33%;
    right: 10px;
    background-color: #a7650f;
    min-height: 400px;
    padding: 10px;
    box-sizing: border-box;
}

.sub-box {
    position: relative;
    background-color: #1b384b;
    height: 190px;
    margin-bottom: 10px;
}